th {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
}

td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
}

caption{
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: rgb(41, 41, 41);
    padding: 5px;
    margin-bottom: 10px;
}

footer {
    vertical-align: middle;
    text-align: center;
}

.blueTop {
    background-color: lavender;
    font-weight: bold;
    text-align: center;
}

.blueBottom {
    background-color: lavender;
    font-weight: bold;
}

.red{
    color: red;
    text-align: right;
}

.right {
    text-align: right;
}

.triangle {
    text-align: left;
    color: rgb(160, 160, 160);
    display: block;
    float: left;
    width: 50px;
}

.afterTriangle {
    text-align: center;
    color: white;
    display: block;
}
body {
    background-color: white;
    text-align: center;
    margin: 10px auto;
    line-height: 130%;
    color: black;
    font-family: Arial;
} h1 {
    text-align: center;
    font-size: 4em;
}

h2 {
    background-color: rgb(139, 11, 11);
    color: white;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
    position: relative
}

h2::before {
content: "▶";
position: absolute;
left: 10px;
color: gray;
}


h3{
    text-align: left;
    font-weight: bold;
    color: darkblue;
    text-transform: uppercase;
    padding-left: 50px;
}
li {
    text-align: left;

} 
#obal{ width: 60%;
    text-align: center;
    margin: 10px auto;
}


